body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, red 10%, #100f0f 60%);
}
.kingdiv{
  height: 100vh;
  width: 100vw;
}

#CalBTN{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

#div25{
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn25{
  width: 20vw;
}

#scores{
  display: flex;
  justify-content:space-around;
  font-size: 7.5em;
}

#dbtn{
  width: 50vw;
  font-size: 1.5em;
}
#tbtn{
  width: 50vw;
  font-size: 1.5em;
}
button{
  border: lightslategrey solid;
  border-width: 1px;
}
#legsdiv{
  font-size: 1.4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.legdiv{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#wtext{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-bottom: 0;
}
#erneutbtn{
  display: flex;
  justify-content: center;
  font-size: 1em;
  margin-top: 0;
}
#btnlegdiv, #inplegdiv, #labellegdiv{
  display: block;
}